<% layout('layout') %>
<h1><%- title %></h1>
<ul>
    <li>購買者: <%- name %></li>
    <li>性別: <%- sex %></li>
    <li>手機號碼: <%- phonenumber %></li>
    <li>信箱: <%- email %></li>
    <li>地址: <%- address %></li>
</ul>
